{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
{{ include ("partials/title_section.html.twig", {'name':'Conditions Générales d\'Utilisation'}) }}

<div class="container">
    <h1 class="text-center">Condtions Gérérales d'Utilisation de Mon_Site_Marchand </h1>

    <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quasi expedita animi, consequuntur veritatis eveniet cum, totam optio adipisci natus nobis. Tempore sunt, consectetur velit repellendus voluptate praesentium veritatis tenetur.
    Voluptas nisi maiores deleniti blanditiis sint incidunt quidem voluptate, aliquam laborum pariatur nobis! Eligendi similique recusandae architecto nemo tempora dolorum esse nam, a, dicta quaerat odio quas reiciendis necessitatibus temporibus?
    Necessitatibus obcaecati nisi error impedit ratione eaque doloribus alias porro fugit a, eum voluptatem dolorem distinctio? Dicta earum eius velit maiores incidunt, possimus quas quis nostrum nobis tempora quo maxime!
    Voluptate placeat accusamus quos beatae nemo, incidunt, necessitatibus maiores magnam dolorem nobis error tempora quis blanditiis laboriosam, autem tenetur. Delectus voluptates numquam eos aperiam saepe eligendi, autem consequatur reprehenderit corporis?
    Sapiente voluptatum, reiciendis officiis neque aperiam iste consectetur excepturi nemo perferendis ad doloribus ducimus autem placeat molestias. Harum facere reprehenderit, repudiandae iure sit quo inventore quae itaque in modi nesciunt.
    Accusamus non quibusdam cumque, voluptatum voluptas consequuntur modi asperiores deserunt soluta voluptates commodi itaque iusto nesciunt odit vel maxime autem temporibus error mollitia velit quaerat, ut porro! Commodi, tempora labore.
    Nostrum minima fugiat incidunt, quo nemo velit minus ratione quas possimus inventore. Illo tempora ipsa error eos quae, inventore reiciendis officia, voluptate dolor soluta, minus tempore molestiae cumque laudantium ut?
    Ipsam facilis possimus eaque ipsum expedita ipsa voluptate vel animi minima libero. Porro, et? Impedit tempore distinctio, incidunt quia, eos aliquid laborum hic facilis, sunt sequi accusantium quo culpa blanditiis.
    Deserunt quod veritatis, velit est ab minus consequatur quidem animi dolore! Possimus, autem. Modi pariatur veniam rerum aperiam repellendus libero eligendi repellat quia? Ab odio, dolores eveniet quos sequi praesentium!
    Excepturi, nihil incidunt accusantium, adipisci autem quis impedit exercitationem aliquam sapiente ut recusandae. Molestiae praesentium non cumque, nam quis nostrum reprehenderit fuga laborum quod esse itaque harum nobis voluptatibus dolore.
    Sapiente architecto necessitatibus eaque modi cupiditate sint adipisci sunt possimus laborum sit eos, assumenda rem commodi, fugit alias. A distinctio facilis voluptates adipisci, deleniti officiis! Dignissimos provident quia officia corrupti.
    Dolores quam debitis laboriosam possimus hic fugiat repellat. Eaque nesciunt fuga et, ea enim repellat aspernatur accusamus nisi illum autem, omnis excepturi? Fugit ex aliquam omnis iure culpa sequi quo.
    Ex eos consectetur excepturi distinctio. Adipisci nemo praesentium voluptatibus. Possimus nisi sit, ullam ut exercitationem cumque, doloremque est quidem nostrum dolorum, blanditiis error consequatur! Atque placeat sit voluptatem dolore ea.
    Maxime exercitationem aut ullam ipsum necessitatibus laboriosam molestias officiis amet, sapiente odio distinctio voluptatum facilis assumenda deleniti iusto iste explicabo earum in esse! Assumenda non doloremque, quam saepe eligendi molestiae.
    Asperiores omnis fugit ad, corrupti illum voluptatum molestias nihil enim aliquid consequatur. Velit ut, dolorum tenetur error harum explicabo nemo enim nostrum beatae minus eaque dolore, rerum accusantium corrupti eius.
    Libero quibusdam corrupti adipisci voluptatibus, minima cum quod neque voluptatum esse ab cupiditate cumque vitae id labore nihil repellendus eligendi veniam quae. Corrupti ipsum est similique molestias ipsa pariatur quasi.
    Est, ad officia. Animi, pariatur commodi vero fuga similique molestias minus iusto magni aperiam odio officia, deleniti illum dolorum temporibus velit facere, esse veritatis vitae et natus eos doloribus expedita?
    Consequuntur illum quae quasi, id temporibus perspiciatis sed facilis dolorem minus ex, aliquid, aut adipisci consequatur dicta magni modi inventore natus sunt aperiam commodi doloribus optio quo expedita exercitationem. Ullam?
    Voluptas eaque velit ad repellat. Neque voluptatibus natus et explicabo totam, dolor quas aliquam numquam unde ullam doloribus officiis tempore voluptates commodi eligendi amet esse quia aperiam laudantium tempora minus.
    Tempore illum numquam officia obcaecati quas accusantium voluptatum deserunt sit, atque nisi ipsam dicta ea eveniet vero consectetur nemo, quibusdam vitae odio dignissimos, nulla assumenda. Nemo est nulla eius commodi!
    </p>
    
</div>
{% endblock %}
